

.service-background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}



.service-content-background {
    /*background-size: cover;*/
    /*background-image: url(../img/service-back.jpg);*/
    background-color: darkslateblue;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

}

service-.content-container{
    height: 1200px;
    width: 100%;
    background-color:darkslateblue;
}

.service-middle{
    background-color: mediumpurple;
}
.service-middle2{
    background-color: darkslateblue;
}




.background-animation{
    animation:animations 40s infinite;
    animation-timing-function:linear;
}

@keyframes animations {
    50% {transform: scale(1.5)}
    100% {transform: scale(1)}
}

body::-webkit-scrollbar {display:none; }